@tailwind base;
@tailwind components;
@tailwind utilities;

/* .app-width {
  width: 100%;
  margin: 0 0.5rem;
}

@media only screen and (min-device-width: 1200px) {
  .app-width {
    max-width: 1180px;
  }
} */

a.active {
  background-color: pink;
}

bangle-header {
  height: 3.75rem;
  display: flex;
  justify-content: center;
}

bangle-footer {
  display: flex;
}

@layer components {
  @responsive {
    .width-50p {
      width: 50%;
    }
    .width-33p {
      width: 33%;
    }
    .overlap-img-parent-grid {
      display: grid;
      grid-template-columns: 0.25fr repeat(6, 1fr) 0.25fr;
      grid-template-rows: 0.75fr 0.5fr 30px 0.25fr 1fr 1fr 1fr 1fr;
    }

    .overlap-img-description-reg-w {
      grid-column: -5/-1;
      grid-row: 1 / 3;
    }
    .overlap-img-description-full-w {
      grid-column: 1 / -1;
      grid-row: 1 / 3;
    }
  }

  body {
    @apply relative overflow-x-hidden;
  }

  main {
    @apply w-full flex flex-col px-2 md:px-6 pb-32;
  }

  bangle-footer a {
    @apply text-gray-600;
  }

  .btn-blue {
    @apply py-2 px-4 bg-blue-500;
  }

  .content-max-width {
    @apply max-w-screen-lg;
  }

  .section {
    @apply flex flex-col items-center mt-32;
  }

  .section-villain-inner {
    @apply content-max-width flex flex-col lg:flex-row items-center;
  }
  .section-villain-info {
    @apply lg:width-50p flex flex-grow flex-col lg:pr-12 max-w-prose;
  }
  .section-villain-title {
    @apply text-3xl mb-3;
  }
  .section-villain-description {
    @apply xl:text-xl text-lg font-light text-gray-700 break-words;
  }
  .section-villain-image {
    @apply lg:width-50p flex flex-grow flex-col max-w-screen-sm mt-12 lg:mt-0;
  }
  .section-villain-image img {
    @apply rounded-xl shadow;
  }
  .feature {
  }
}

.overlap-img-parent-upper {
  grid-column: -6/-2;
  grid-row: 6 / 9;
  z-index: 5;
}

.overlap-img-parent-lower {
  z-index: 4;
  grid-row: 4/8;
  grid-column: 2/-4;
}
