@tailwind base;
@tailwind components;
@tailwind utilities;

/* .app-width {
  width: 100%;
  margin: 0 0.5rem;
}

@media only screen and (min-device-width: 1200px) {
  .app-width {
    max-width: 1180px;
  }
} */

a.active {
  background-color: pink;
}

bangle-header {
  height: 3.75rem;
  display: flex;
  justify-content: center;
}

bangle-footer {
  display: flex;
}

@layer components {
  @responsive {
    .width-50p {
      width: 50%;
    }
    .width-33p {
      width: 33%;
    }
  }

  body {
    @apply relative overflow-x-hidden;
  }

  main {
    @apply w-full flex flex-col px-2 pb-32;
  }

  bangle-footer a {
    @apply text-gray-600;
  }

  .btn-blue {
    @apply py-2 px-4 bg-blue-500;
  }

  .content-max-width {
    @apply max-w-screen-lg;
  }

  .section {
    @apply flex flex-col items-center mt-32;
  }

  .section-villain-inner {
    @apply content-max-width flex flex-col lg:flex-row items-center;
  }
  .section-villain-info {
    @apply lg:width-50p flex flex-grow flex-col lg:pr-12 max-w-prose;
  }
  .section-villain-title {
    @apply text-3xl mb-3;
  }
  .section-villain-description {
    @apply xl:text-xl text-lg font-light text-gray-700 break-words;
  }
  .section-villain-image {
    @apply lg:width-50p flex flex-grow flex-col max-w-screen-sm mt-12 lg:mt-0;
  }
  .section-villain-image img {
    @apply rounded-xl shadow;
  }
  .feature {
  }
}
