@tailwind base;
@tailwind components;
@tailwind utilities;

/* .app-width {
  width: 100%;
  margin: 0 0.5rem;
}

@media only screen and (min-device-width: 1200px) {
  .app-width {
    max-width: 1180px;
  }
} */

a.active {
  background-color: pink;
}

bangle-header {
  height: 3.75rem;
  display: flex;
  justify-content: center;
}

bangle-footer {
  display: flex;
}

@layer components {
  @responsive {
    .width-50p {
      width: 50%;
    }
    .width-40p {
      width: 40%;
    }
    .width-60p {
      width: 60%;
    }
    .width-33p {
      width: 33%;
    }
    .section-own-notes-video-parent-grid {
      display: grid;
      grid-template-columns: 0.25fr repeat(6, 1fr) 0.25fr;
      grid-template-rows: 0.25fr 1fr 1fr 1fr 1fr;
    }

    .section-own-notes-video-description-reg-w {
      grid-column: -5/-1;
      grid-row: 1 / 3;
    }
    .section-own-notes-video-description-full-w {
      grid-column: 1 / -1;
      grid-row: 1 / 3;
    }
  }

  .section-own-notes-video-parent-upper {
    grid-column: -6/-2;
    grid-row: 3 / 6;
    z-index: 5;
  }

  .section-own-notes-video-parent-lower {
    z-index: 4;
    grid-row: 1/5;
    grid-column: 2/-4;
  }

  .to-app-link:hover {
    background-color: #44bced;
  }

  .to-app-link {
    @apply text-center w-full sm:w-auto flex-none bg-gray-900 dark:bg-gray-600 text-white text-lg leading-6 font-semibold py-3 px-6 border border-transparent rounded-xl focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-gray-900 focus:outline-none transition-colors duration-200 mb-4;
  }

  body {
    @apply relative overflow-x-hidden;
  }

  main {
    @apply w-full flex flex-col px-2 md:px-6 pb-32;
  }

  bangle-footer a {
    @apply text-gray-600;
  }

  .btn-blue {
    @apply py-2 px-4 bg-blue-500;
  }

  .content-max-width {
    @apply max-w-screen-lg;
  }

  .section {
    @apply flex flex-col items-center mt-32;
  }

  .section-villain-inner {
    @apply content-max-width flex flex-col lg:flex-row items-center;
  }
  .section-villain-info {
    @apply lg:width-40p flex flex-grow flex-col lg:pr-12 max-w-prose;
  }
  .section-villain-title {
    @apply text-4xl mb-3 font-extrabold;
  }
  .section-villain-description {
    @apply xl:text-xl text-lg text-gray-700 dark:text-gray-100  break-words;
  }
  .section-villain-image {
    @apply lg:width-60p flex flex-grow flex-col max-w-screen-sm mt-12 lg:mt-0;
  }
  .section-villain-image img {
    @apply rounded-xl shadow;
  }
  .section-list {
    @apply section-villain-description mt-6 flex flex-row lg:flex-col;
  }
  .section-list > li {
    @apply cursor-pointer text-base lg:text-lg font-medium text-gray-900 dark:text-white mr-3 hover:underline;
  }

  accordion-container h3 {
    @apply px-4 py-3 select-none;
  }

  accordion-container h3.expanded {
    @apply bg-gray-200 dark:bg-gray-800 rounded;
  }

  accordion-container h3 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    align-items: center;
  }

  accordion-container [data-panel] {
    @apply px-4 py-3 select-none;
  }
}
